.container {
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container2 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

legend {
    border: 1px solid black;
    background-color: white;
}

.field1 {
    background-color: #BBBB;
}

.field2 {
    background-color: #F1C29C;
}

.field3 {
    background-color: #B67E7E;
}