* {
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

table {
    border-collapse: collapse;
    margin: 0% auto;
    width: 50%;
}

td, th {
    border: 2px solid black;
}

a:link {
    color: red;
    text-decoration: none;
}

.letrasGrandes::first-letter {
    font-size: 2.5em;
}

#recreo {
    background-color: yellow;
}

#campoText {
    border: 1px solid #A22125;
}

td:first-of-type {
    background-color: green;
}

tr th:last-child:hover, tr td:last-child:hover{
    font-size: 2em;
}