* {
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

table {
    border-collapse: collapse;
    margin: 0% auto;
    width: 50%;
}

td, th {
    border: 1px solid black;
}

.rojo {
    color: white;
    background-color: red;
}

.azul {
    background-color: #908FC8;
}

.listRojo {
    color: red;
}

.gris {
    background-color: #7B7B7C;
}

#listRojoFondo {
    color: red;
    background-color: #908FC8;
}

#amarillo {
    background-color: yellow;
}